@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mochiy+Pop+One&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Mochiy Pop One', sans-serif;*/


body {
    background-image: url("C:\Users\johan\evaluation_html\img\catPrint.jpg");
    height: 100vh;
    background: rgb(223, 210, 160);
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Mochiy Pop One', sans-serif;
}

.navbar .navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.navbar img {
    border-radius: 50%;
}

.card{
    height: 100%;
    /*box-shadow: 0 0 3px white;*/
  }

  .image-footer {
    width: 100%;
    height: 40px;
  }

  .email {
    text-decoration: none;
  }