@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Mochiy+Pop+One&display=swap');
/*font-family: 'Dancing Script', cursive;
font-family: 'Mochiy Pop One', sans-serif;*/


body {
    background-image: url('C:\Users\johan\evaluation_html\img\catPrint.jpg');
    height: 100vh;
    background: rgb(223, 210, 160);
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Mochiy Pop One', sans-serif;
}

.navbar .navbar-brand {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.navbar .navbar-brand strong {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  color: rgba(255,204,0,255);
}

.navbar img {
    border-radius: 50%;
}

.carousel-caption {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.card{
    height: 100%;
    /*box-shadow: 0 0 3px white;*/
  }

  .image-footer, .image-header {
    width: 100%;
    height: 40px;
  }

  .email {
    text-decoration: none;
  }

  .jumbotron {
    background-image: url('C:\Users\johan\evaluation_html\img\catPrint.jpg');
    width: 100vw;
    background-size: cover;
  }